node_modules
.next
out
build
dist
.git
.gitignore
.env
.env*.local
*.db
*.sqlite
prisma/dev.db
prisma/dev.db-journal
playwright-tests
test-results
playwright-report
coverage
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
